/*主体颜色*/
/*字体样式*/
/*边框样式*/
html {
  font-size: 100px;
}
body {
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 0.12rem;
  color: #323232;
}
a {
  text-decoration: none;
  color: #323232;
}
a:hover {
  color: #323232;
  text-decoration: none;
}
@font-face {
  font-family: jhf;
  src: url('../font/jhf/MiFie-Web-Font.eot') format('embedded-opentype'), url('../font/jhf/MiFie-Web-Font.svg') format('svg'), url('../font/jhf/MiFie-Web-Font.ttf') format('truetype'), url('../font/jhf/MiFie-Web-Font.woff') format('woff');
}
/*公用样式*/
.jhf_icon {
  font-family: jhf;
}
.jhf_icon_phone::before {
  content: '\e908';
}
.jhf_icon_tel::before {
  content: '\e909';
}
.m_l10 {
  margin-left: 0.1rem;
}
@font-face {
  font-family: jff;
  src: url('../font/jff/fontawesome-webfont.eot') format('embedded-opentype'), url('../font/jff/fontawesome-webfont.svg') format('svg'), url('../font/jff/fontawesome-webfont.ttf') format('truetype'), url('../font/jff/fontawesome-webfont.woff') format('woff');
}
.jff_icon {
  font-family: jff;
}
.clearfix::after,
.clearfix::before {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
