@import "variables";

/*模块样式*/
.jhf_topBar {
  border: 1px solid @border-color;
  font-size: @font-size;
  color: @font-color;
  > .container {
    > .row {
      > div {
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center;
        border-right: 1px solid @border-color;
        &:last-child {
          border-right: none;
        }
        > .jhf_app {
          position: relative;
          display: block;
          > img {
            display: none;
            width: 2rem;
            height: 2.5rem;
            z-index: 100;
          }
          &:hover img {
            display: block;
            position: absolute;
            border: 1px solid @border-color;
            border-top: none;
            top: 0.4rem;
            left: 50%;
            margin-left: -60px;
          }
        }
        > a.btn-danger {
          border: none;
          padding: 0.03rem 0.15rem;
          background-color: @main-color;
        }
        > a.btn-link {
          color: @font-color;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.jhf_nav {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid @border-color;
  margin-bottom:0;
  >.container{
    padding: 0 0.5rem
  }
}

.jhf_nav .navbar-brand {
  color: #777;
  height: 0.8rem;
  line-height: 0.5rem;
}

.jhf_nav .navbar-brand:hover,
.jhf_nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.jhf_nav .navbar-text {
  color: #777;
}

.jhf_nav .navbar-nav > li > a {
  color: #777;
  height: 0.8rem;
  line-height: 0.5rem;
}

.jhf_nav .navbar-nav > li > a:hover,
.jhf_nav .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid @border-color;
}

.jhf_nav .navbar-nav > .active > a,
.jhf_nav .navbar-nav > .active > a:hover,
.jhf_nav .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #fff;
  border-bottom: 3px solid @border-color;
}

.jhf_nav .navbar-nav > .disabled > a,
.jhf_nav .navbar-nav > .disabled > a:hover,
.jhf_nav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.jhf_nav .navbar-toggle {
  border-color: #ddd;
  margin-top: 0.23rem;
  margin-bottom: 0.23rem;
}

.jhf_nav .navbar-toggle:hover,
.jhf_nav .navbar-toggle:focus {
  background-color: #ddd;
}

.jhf_nav .navbar-toggle .icon-bar {
  background-color: #888;
}

.jhf_nav .navbar-collapse,
.jhf_nav .navbar-form {
  border-color: #e7e7e7;
}

.jhf_nav .navbar-nav > .open > a,
.jhf_nav .navbar-nav > .open > a:hover,
.jhf_nav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .jhf_nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }

  .jhf_nav .navbar-nav .open .dropdown-menu > li > a:hover,
  .jhf_nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }

  .jhf_nav .navbar-nav .open .dropdown-menu > .active > a,
  .jhf_nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .jhf_nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }

  .jhf_nav .navbar-nav .open .dropdown-menu > .disabled > a,
  .jhf_nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .jhf_nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.jhf_nav .navbar-link {
  color: #777;
}

.jhf_nav .navbar-link:hover {
  color: #333;
}

.jhf_nav .btn-link {
  color: #777;
}

.jhf_nav .btn-link:hover,
.jhf_nav .btn-link:focus {
  color: #333;
}

.jhf_nav .btn-link[disabled]:hover,
fieldset[disabled] .jhf_nav .btn-link:hover,
.jhf_nav .btn-link[disabled]:focus,
fieldset[disabled] .jhf_nav .btn-link:focus {
  color: #ccc;
}

#bs-example-navbar-collapse-1 img {
  height: 0.8rem;
  margin-top: -0.15rem;
  margin-right: 0.5rem;
}

/*轮播图*/
.pc_imageBox {
  height: 4rem;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.m_imageBox {
  width: 100%;
  display: block;
  margin:0 auto;
}
.m_imageBox img{
  //height: 3.2rem;
  width: 100%;
  display: block;
}
/*求职意向*/
.jhf_info{
  margin: 0.1rem;
  >.container{
    >.row{
      margin: 0 0.5rem;
      >.col-md-4{
        padding: 0.1rem;
          >.media{
            cursor: pointer;
            &:hover{
              background: rgba(103,12,227,0.2);
              color:@main-color;
            }
            >.media-body{
              padding-top: 0.14rem;
            }

        }
      }
    }
  }
}

/*专业技能*/
.jhf_skill{
  margin-bottom: 0.2rem;
  >.container{
    background: url("../images/bg-con.jpg") no-repeat top right ;
    -webkit-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-size: cover;
    background-size: cover;
   >.row{
     margin: 0 0.5rem;
    >.col-xs-12{
      padding: 0.15rem 0;
      cursor: pointer;
      &:hover{
        background: rgba(103,12,227,0.2);
        color:@main-color;
      }
      >.media{
        >.media-body{
          vertical-align: middle;
        }
      }
    }
   }
  }
}

/*自我评价*/
.jhf_eval{
  >.container{
    >.row{
        margin: 0 0.5rem;
      >.panel-default{
        border-color: @border-color;
        >.panel-heading{
          border-color: @border-color;
        }
      }
    }
  }
}
/*个人资料*/
.jhf_data{
  >.container{
    .row{
      margin: 0 0.5rem;
      >div{
        >.nav-tabs{
          border-bottom: 1px solid @border-color;
           li.active > a,
           li.active > a:hover,
           li.active > a:focus{
             border: 1px solid @border-color;
             border-bottom-color: transparent;
           }
        }
        >.tab-content{
          height: 0.5rem;
          line-height: 0.5rem;
          text-indent: 0.3rem;
        }
      }
    }
  }
}

/*工作经历*/
.jhf_job{
  margin: 0.2rem 0;
  >.container{
    >.row{
      margin: 0 0.5rem;
      .work{
        font-size: 16px;
        border-bottom: 1px solid @main-color;
        height: 0.5rem;
        line-height: 0.5rem;
        text-indent: 0.2rem;
      }
      .nav-tabs{
        border: none;
        >li>a{
          border: none;
        }
      }
      >.tab-content{
        padding: 0.1rem 0.3rem;
      }
    }
  }
}

//飞翔的图片
.fei{
  border-radius: 0.1rem;
  position: absolute;
  z-index: 1000;
  left: 0;
  bottom: 0;
  div{
    position: absolute;
    z-index: 100;
    top: 0.15rem;
    right: 0.1rem;
    color: #fff;
  }
  img{
    display: block;
    border-radius: 45%;
    width: 1rem;
  }
}