/*主体颜色*/
@main-color: #670ce3;

/*字体样式*/
@font-family:"Microsoft YaHei", sans-serif;
@font-size:0.12rem;
@font-color: #323232;

/*边框样式*/
@border-color: #d797e0;

.border-radius(@radius:0.05rem){
  -webkit-border-radius: @radius;
  -moz-border-radius:@radius ;
  border-radius: @radius ;
  -o-border-radius:@radius;
  -ms-border-radius:@radius;
}